*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.containerBlog{
    text-align:center;
    background-image: url('../../public/images/copasVacias.jpg');
    background-size: 450px;
    min-height: 100vh;
}
.blog{
    backdrop-filter: invert(25%);
    padding-top:8.5em;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.containerCardBlog{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    height: auto;
    justify-content: center;
}
.title{
    text-shadow: 2px 2px black;
    font-size: 5rem;
}
.red{
    color: #b21234;
}
.textarea{
    resize:none;
    border-radius: 5px;
    color: black;
    background-color: white;
}
.textareaSize{
    width: 100%;
}
.containerPadlet{
    background-color: white;
    border-radius: 15px;
    border: 1px solid #333;
    padding: .3rem;
    margin: .5rem;
    width: 300px;
}
.padleTopic{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border-bottom: 1px solid #333; */
}
.text-blog{
    width: 90%;
    padding: 5px;
    margin: .2rem;
    background-color: white;
}
.titleBlog{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
}
.bodyBlog{
    height: 100px;
}
.nameEdit-padlet{
    display: flex;
    align-items: center;
}
.borderTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: .2rem 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.photoPadlet{
    border-radius: 100%;
    border: 1px solid #333;
    margin-top: .5rem;
    width: 80px;
    background-color: white;
}
.commentPhoto{
    width: 50px;
    color: rgba(51, 51, 51, 0.315);
}
.newPadlet{
    background-color: black;
    color: white;
}
.setTopic{
    border: 1px solid white;
}
.postTopic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 124px;
}
.emptyCommentSpace{
    height: 64px;
}
/*/////////////comments////////////////*/

.containerComments{
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
}
.textDecorationNewComment{
    color: #b21234;
}
.textDecorationNewComment:hover{
    color: black;
}