/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error{
    background-image: url("../assets/fondoerror.jpg");
    background-size: cover;
    height: 100vh;
}

.mainbox {
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;
    height: 100vh;
    width: 100%;
    
  }
.error3{
    margin: auto;
    height: 100vh;
width: 50%;
position: relative;
}
  
    .err {
      color:white;
      font-size: 20rem;
      position:absolute;
      left: 20%;
      top: 1%;
      font-family: 'Times New Roman', Times, serif;
     }
  
  .far {
    position: absolute;
    font-size: 12.5rem;
    left: 42%;
    top: 19%;
    color: white;

  }
  
   .err2 {
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 20rem;
      position:absolute;
      left: 68%;
      top: 1%;
      font-family: 'Times New Roman', Times, serif;
    }
  
  .msg {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 3rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 70%;
      color: white;
      font-weight: 400;
    }
    .copa{
        height: 75vh;
        margin-left: 52%;
        margin-top: 24%;
        
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
  }