@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');.error{
    background-image: url("../assets/fondoerror.jpg");
    background-size: cover;
    height: auto;
}

.mainbox {
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;
    height: 600px;
    width: 100%;
    
  }
.error3{
    margin: auto;
    height: 600px;
width: 600px;
position: relative;
}
  
    .err {
      color:white;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 12rem;
      position:absolute;
      left: 20%;
      top: 8%;
      font-family: 'Times New Roman', Times, serif;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: white;

  }
  
   .err2 {
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 12rem;
      position:absolute;
      left: 68%;
      top: 8%;
      font-family: 'Times New Roman', Times, serif;

    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
      color: white;
      font-family: 'Tangerine', cursive;font-family: 'Roboto Slab', serif;
      font-size: 2rem;
      font-weight: 700;
    }
    .copa{
        height: 75vh;
        margin-left: 52%;
        margin-top: 24%;
        
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
  }