.navbar {
    background-color: transparent !important;
    background-color:rgba(3, 1, 1, 0.144) !important;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    transition: all 1s;
    flex-wrap: nowrap;
  }
  .navbarBackgound {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between !important;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.726) !important;
    transition: all 1s;
  }
  
  .linkGeneral {
    padding: 1rem 1.4rem;
    border-radius: 5px;
    color: black;
    color:white;
    text-shadow:2px 2px black;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    
  }
  .nav-linkUser {
    color: black;
    
    text-decoration: none;
    padding: 1rem;
    
  }
  .navLi {
    list-style-type: none !important;
   
  }
  .linkGeneral:hover {
    color: #800040;
    background-color: rgba(255, 255, 255, 0.281);
  }
  .linkAvatar {
    text-decoration: none;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    
  }
  .linkAvatar:hover {
    background-color: transparent !important;
  }
  .spanUser{
    font-size: 1.2rem;
  }
  .pruebaMenu{
    margin-right: 2rem!important;

  }
  
  @media (max-width: 567px) {
    .navbar {
      padding: 0;
    }
    .navbarBackgound {
      padding: 0;
      background-color: #000 !important;
    }
    .linkLogo {
      font-size: 1.5rem !important;
      
    }
    .logo {
      width: 2rem;
      
    }
    .userImg {
      width: 4rem;
    }
    .spanUser{
  display: none;
    }
  }