.details-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100% !important;
	min-height: 100vh;
	background-image: url('../../public/images/corchos.jpg');
	background-size: cover;
}
.card-details{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 70%;
	margin: 20vh 0;
	border-radius: 15px;
	padding: .8rem 0;
    border: 1px solid black;
}
.flexCard{
	display: flex;
}
.img-details{
	width: 245px;
    height: 500px;
	object-fit: cover;
}
.head-details{
	text-align: center;
	font-size: 1.5rem;
}
.padding-text{
	padding: .5rem;
}
.counterDiv-details{
	display: flex;
	align-items: center;
}
.productCounter-details{
	display: flex;
	align-items: center;
	margin:0 1rem;
}
.btn-details{
	background-color: black;
    padding: .5rem;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
	width: 3rem;
	height: 3rem;
}
.btn-details:hover{
    background-color: rgb(178 18 52);
}
.cart-details{
	width: 4rem;
}
.aclaration-details{
    margin: 1rem 0;
}
.input-customised {
	height: 3rem;
	width: 3rem;
	text-align: center;
	font-size: 2rem;
}
/* ///////////////////////Accordion///////////////// */
.custom-div-container-acordion{
	margin-bottom: 1rem;
}
.custom-acordion {
	height: calc(100% - 20px);
	width: 100%;
	display: flex;
	color: rgba(0,0,0,.85);
	font-family: 'Roboto', sans-serif;
}
.accordion {
	margin: auto;
	width: 100%;
}
.accordion input {
	display: none;
}
.box {
	position: relative;
    transition: all .15s ease-in-out;
    width: 94%;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}
.box-title {
	line-height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: 100%;
	font-size: 11pt;
	color: rgba(0,0,0,.75);
	display: none;
}
.box-close {
	position: absolute;
	height: 30px;
	width: 90%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}
/* ///////////////scroll///////////////// */

#global {
	height: 200px;
	width: 100%;
	overflow-y: scroll;
}
.text {
	padding:4px;
	font-size: 1.5rem;
}

@media screen and (max-width: 520px){
	.card-details{
		width: 80%;
		margin: 15vh 0;
	}
	.flexCard{
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 800px){
	.card-details{
		width: 85%;
	}
	.img-details{
		width: 175px;
		height: 350px;
		object-fit: cover;
	}
}
@media screen and (max-width: 1500px){
	.head-details{
		font-size: 1rem;
	}
	.text {
		font-size: 1rem;
	}
}